# Created by .ignore support plugin (hsz.mobi)
.idea/
.idea/modules.xml
.idea/ReactLearn.iml
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/workspace.xml

!/.git/info/exclude
node_modules/
01/node_modules/
